<div class="item-tile-catalog">
	<a href="" class="tile-link"></a>
	<!-- photos -->
	<div class="tile-photo-wrap">
		<div class="tile-slider-inner-wrap tile-slider-catalogitem">
			<div class="tile-slider-wrap swiper">
				<div class="tile-slider swiper-wrapper">
					<div class="tile-sl-wrap swiper-slide">
						<a href="" class="elm-photo photo-contain">
							<img src="./img/catalog04.png" alt="">
						</a>
					</div>
					<div class="tile-sl-wrap swiper-slide">
						<a href="" class="elm-photo photo-contain">
							<img src="./img/catalog04.png" alt="">
						</a>
					</div>
					<div class="tile-sl-wrap swiper-slide">
						<a href="" class="elm-photo photo-contain">
							<img src="./img/catalog04.png" alt="">
						</a>
					</div>
					<div class="tile-sl-wrap swiper-slide">
						<a href="" class="elm-photo photo-contain">
							<img src="./img/catalog04.png" alt="">
						</a>
					</div>
					<div class="tile-sl-wrap swiper-slide">
						<a href="" class="elm-photo photo-contain">
							<img src="./img/catalog04.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="tile-slider-pagination tile-slider-catalogitem-pagination"></div>
		</div>
	</div>
	<!-- /photos -->
	<!-- rate -->
	<div class="tile-rate-wrap">
		<div class="elm-rate-total">
			<div class="rate-total">4.8</div>
			<div class="rate-reviews">
				<a href="">20 отзывов</a>
			</div>
		</div>
	</div>
	<!-- /rate -->
	<!-- title -->
	<div class="tile-title-wrap">
		<div class="tile-title tile-many-lines"><b>Берберин</b>, улучшенный комплекс, Nature's Craft</div>
	</div>
	<!-- /title -->
	<!-- actions -->
	<div class="tile-actions-wrap">
		<div class="tile-prices-wrap">
			<div class="elm-price" data-unit="$">9.99</div>
			<div class="elm-price price-old" data-unit="$">12.99</div>
		</div>
		<a href="" class="tile-button-cart btn">
			<div class="button-ico">
				<img src="./img/icons/cart.svg" alt="">
			</div>
		</a>
	</div>
	<!-- /actions -->
	<div class="tile-stickers-wrap">
	</div>
	<a href="" class="tile-button-fav btn button-white btn-action-ico button-active-toggle ico-fav-toggle js-btn-tgl"></a>
</div>