<!--catalog-actions-box-->
<div class="catalog-actions-box">
	<div class="catalog-inner-wrap">
		<div class="filter-inner-wrap">
			<!-- sort -->
			<div class="sort-wrap">
				<div class="frm-field-select js-field-select">
					<a href="" class="btn button-light button-select-toggle js-field-button-select">
						<div class="button-ico">
							<img src="./img/icons/sort.svg" alt="">
						</div>
						<div class="button-title" data-placeholder="Сортировка"></div>
					</a>
					<div class="select-content-block js-field-content-block">
						<div class="select-title-wrap">
							<div class="select-title">Сортировка</div>
							<a href="" class="button-select-close js-field-button-select-close"></a>
						</div>
						<div class="select-menu-wrap">
							<div class="scroll-inner-wrap">
								<ul class="menu">
									<li>
										<div class="frm-select">
											<input type="radio" name="sort" id="sort-01" >
											<label for="sort-01">Сначала новые</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="radio" name="sort" id="sort-02">
											<label for="sort-02">По возрастанию цены</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="radio" name="sort" id="sort-03">
											<label for="sort-03">По убыванию цены</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="radio" name="sort" id="sort-04">
											<label for="sort-04">По рейтингу</label>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="select-action-wrap">
							<div class="select-action">
								<a href="" class="btn button-hover-att-second button-select-apply js-field-button-select-close">
									<div class="button-title">Применить</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /sort -->
			<!-- filter -->
			<div class="filter-wrap">
				<a href="" class="btn button-light js-filter-open">
					<div class="button-ico">
						<img src="./img/icons/menu.svg" alt="">
					</div>
					<div class="button-title">Все фильтры</div>
				</a>
			</div>
			<!-- /filter -->
		</div>
		<div class="actions-inner-wrap">
			<!-- price -->
			<div class="select-wrap">
				<div class="frm-field-select js-field-select">
					<a href="" class="btn button-light button-select-toggle js-field-button-select">
						<div class="button-title" data-placeholder="Цена"></div>
						<div class="button-select-clear btn-action-ico ico-clear js-field-button-select-clear"></div>
					</a>
					<div class="select-content-block js-field-content-block">
						<div class="select-title-wrap">
							<div class="select-title">Цена</div>
							<a href="" class="button-select-close js-field-button-select-close"></a>
						</div>
						<div class="select-menu-wrap">
							<div class="frm-field-range">
								<div class="field-wrap">
									<div class="field-title">От</div>
									<input type="number" class="form-input" placeholder="1.00">
								</div>
								<div class="field-wrap">
									<div class="field-title">До</div>
									<input type="number" class="form-input" placeholder="1.00">
								</div>
							</div>
						</div>
						<div class="select-action-wrap">
							<div class="select-action">
								<a href="" class="btn button-hover-att-second button-select-apply js-field-button-select-close">
									<div class="button-title">Применить</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /price -->
			<!-- brands -->
			<div class="select-wrap">
				<div class="frm-field-select type-result type-result-clear js-field-select">
					<a href="" class="btn button-light button-select-toggle js-field-button-select">
						<div class="button-title" data-placeholder="Бренд"></div>
						<div class="button-select-clear btn-action-ico ico-clear js-field-button-select-clear"></div>
					</a>
					<form class="select-content-block js-field-content-block">
						<div class="select-title-wrap">
							<div class="select-title">Бренд</div>
							<a href="" class="button-select-close js-field-button-select-close"></a>
						</div>
						<div class="select-menu-wrap">
							<div class="scroll-inner-wrap">
								<ul class="menu">
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand02">
											<label for="brand02">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand03">
											<label for="brand03">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand04">
											<label for="brand04">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand05">
											<label for="brand05">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand06">
											<label for="brand06">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand07">
											<label for="brand07">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand08">
											<label for="brand08">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand09">
											<label for="brand09">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand10">
											<label for="brand10">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand11">
											<label for="brand11">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand12">
											<label for="brand12">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand13">
											<label for="brand13">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand14">
											<label for="brand14">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand15">
											<label for="brand15">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand16">
											<label for="brand16">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand17">
											<label for="brand17">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand18">
											<label for="brand18">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand19">
											<label for="brand19">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand20">
											<label for="brand20">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand21">
											<label for="brand21">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand22">
											<label for="brand22">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand23">
											<label for="brand23">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand24">
											<label for="brand24">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand25">
											<label for="brand25">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand26">
											<label for="brand26">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand27">
											<label for="brand27">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand28">
											<label for="brand28">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand29">
											<label for="brand29">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand30">
											<label for="brand30">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand31">
											<label for="brand31">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand32">
											<label for="brand32">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand33">
											<label for="brand33">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand34">
											<label for="brand34">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand35">
											<label for="brand35">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand36">
											<label for="brand36">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand37">
											<label for="brand37">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand38">
											<label for="brand38">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand39">
											<label for="brand39">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand40">
											<label for="brand40">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand41">
											<label for="brand41">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand42">
											<label for="brand42">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand43">
											<label for="brand43">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand44">
											<label for="brand44">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand45">
											<label for="brand45">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand46">
											<label for="brand46">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand47">
											<label for="brand47">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand48">
											<label for="brand48">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand49">
											<label for="brand49">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand50">
											<label for="brand50">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand51">
											<label for="brand51">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand52">
											<label for="brand52">Bronson</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand53">
											<label for="brand53">Deal Supplement</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand54">
											<label for="brand54">Doctor’s Best</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand55">
											<label for="brand55">Double Wood</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="checkbox" id="brand56">
											<label for="brand56">Bronson</label>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="select-action-wrap">
							<div class="select-action">
								<button type="reset" class="btn button-light">
									<div class="button-title">Сбросить</div>
								</button>
							</div>
							<div class="select-action">
								<a href="" class="btn button-hover-att-second button-select-apply js-field-button-select-close">
									<div class="button-title">Применить</div>
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /brands -->
			<!-- rate -->
			<div class="select-wrap">
				<div class="frm-field-select type-result-clear js-field-select">
					<a href="" class="btn button-light button-select-toggle js-field-button-select">
						<div class="button-title" data-placeholder="Рейтинг"></div>
						<div class="button-select-clear btn-action-ico ico-clear js-field-button-select-clear"></div>
					</a>
					<form class="select-content-block js-field-content-block">
						<div class="select-title-wrap">
							<div class="select-title">Рейтинг</div>
							<a href="" class="button-select-close js-field-button-select-close"></a>
						</div>
						<div class="select-menu-wrap">
							<div class="scroll-inner-wrap">
								<ul class="menu">
									<li>
										<div class="frm-select">
											<input type="radio" name="rate" id="rate01">
											<label for="rate01">Одна звезда и более</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="radio" name="rate" id="rate02">
											<label for="rate02">Две звезды и более</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="radio" name="rate" id="rate03">
											<label for="rate03">Три звезды и более</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="radio" name="rate" id="rate04">
											<label for="rate04">Четыре звезды и более</label>
										</div>
									</li>
									<li>
										<div class="frm-select">
											<input type="radio" name="rate" id="rate05">
											<label for="rate05">Пять звезд</label>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="select-action-wrap">
							<div class="select-action">
								<button type="reset" class="btn button-light">
									<div class="button-title">Сбросить</div>
								</button>
							</div>
							<div class="select-action">
								<a href="" class="btn button-hover-att-second button-select-apply js-field-button-select-close">
									<div class="button-title">Применить</div>
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /rate -->
		</div>
	</div>
	<div class="total-inner-wrap">48 товаров</div>
</div>
<!--/catalog-actions-box-->