<!--filter-box-->
<form action="/" class="filter-box">
	<div class="filter-title-wrap">
		<div class="filter-title">Фильтры</div>
		<a href="" class="btn button-white button-filter-close btn-action-ico ico-close js-filter-close"></a>
	</div>
	<div class="filter-content-wrap">
		<div class="filter-columns-wrap">
			<!-- col -->
			<div class="filter-column-wrap">
				<!--filter-section-wrap-->
				<div class="filter-section-wrap">
					<div class="filter-section-content">
						<div class="frm-select-toggle">
							<input type="checkbox" id="toggle01">
							<label for="toggle01">Только по акции</label>
						</div>
					</div>
				</div>
				<!--/filter-section-wrap-->
				<!--filter-section-wrap-->
				<div class="filter-section-wrap">
					<div class="filter-section-content">
						<div class="frm-select-toggle">
							<input type="checkbox" id="toggle02">
							<label for="toggle02">Только новинки</label>
						</div>
					</div>
				</div>
				<!--/filter-section-wrap-->
				<!--filter-section-wrap-->
				<div class="filter-section-wrap">
					<div class="filter-section-content">
						<div class="frm-select-toggle">
							<input type="checkbox" id="toggle03">
							<label for="toggle03">Рейтинг выше 4</label>
						</div>
					</div>
				</div>
				<!--/filter-section-wrap-->
				<!--filter-section-wrap-->
				<div class="filter-section-wrap">
					<div class="filter-section-content">
						<div class="frm-select-toggle">
							<input type="checkbox" id="toggle04">
							<label for="toggle04">В наличии</label>
						</div>
					</div>
				</div>
				<!--/filter-section-wrap-->
				<!--filter-section-wrap-->
				<div class="filter-section-wrap">
					<div class="filter-section-title">Цена, $</div>
					<div class="filter-section-content">
						<div class="frm-field-range">
							<div class="field-wrap">
								<div class="field-title">От</div>
								<input type="number" class="form-input" placeholder="1.00">
							</div>
							<div class="field-wrap">
								<div class="field-title">До</div>
								<input type="number" class="form-input" placeholder="1.00">
							</div>
						</div>
					</div>
				</div>
				<!--/filter-section-wrap-->
			</div>
			<!-- /col -->
			<!-- col -->
			<div class="filter-column-wrap">
				<!--filter-section-wrap-->
				<div class="filter-section-wrap">
					<div class="filter-section-title">Бренд</div>
					<div class="filter-section-content">
						<div class="filter-section-inner">
							<div class="frm-select">
								<input type="checkbox" id="filterbrand02">
								<label for="filterbrand02">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand03">
								<label for="filterbrand03">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand04">
								<label for="filterbrand04">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand05">
								<label for="filterbrand05">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand06">
								<label for="filterbrand06">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand07">
								<label for="filterbrand07">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand08">
								<label for="filterbrand08">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand09">
								<label for="filterbrand09">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand10">
								<label for="filterbrand10">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand11">
								<label for="filterbrand11">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand12">
								<label for="filterbrand12">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand13">
								<label for="filterbrand13">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand14">
								<label for="filterbrand14">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand15">
								<label for="filterbrand15">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand16">
								<label for="filterbrand16">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand17">
								<label for="filterbrand17">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand18">
								<label for="filterbrand18">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand19">
								<label for="filterbrand19">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand20">
								<label for="filterbrand20">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand21">
								<label for="filterbrand21">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand22">
								<label for="filterbrand22">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand23">
								<label for="filterbrand23">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand24">
								<label for="filterbrand24">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand25">
								<label for="filterbrand25">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand26">
								<label for="filterbrand26">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand27">
								<label for="filterbrand27">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand28">
								<label for="filterbrand28">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand29">
								<label for="filterbrand29">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand30">
								<label for="filterbrand30">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand31">
								<label for="filterbrand31">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand32">
								<label for="filterbrand32">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand33">
								<label for="filterbrand33">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand34">
								<label for="filterbrand34">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand35">
								<label for="filterbrand35">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand36">
								<label for="filterbrand36">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand37">
								<label for="filterbrand37">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand38">
								<label for="filterbrand38">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand39">
								<label for="filterbrand39">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand40">
								<label for="filterbrand40">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand41">
								<label for="filterbrand41">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand42">
								<label for="filterbrand42">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand43">
								<label for="filterbrand43">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand44">
								<label for="filterbrand44">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand45">
								<label for="filterbrand45">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand46">
								<label for="filterbrand46">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand47">
								<label for="filterbrand47">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand48">
								<label for="filterbrand48">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand49">
								<label for="filterbrand49">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand50">
								<label for="filterbrand50">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand51">
								<label for="filterbrand51">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand52">
								<label for="filterbrand52">Bronson</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand53">
								<label for="filterbrand53">Deal Supplement</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand54">
								<label for="filterbrand54">Doctor’s Best</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand55">
								<label for="filterbrand55">Double Wood</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterbrand56">
								<label for="filterbrand56">Bronson</label>
							</div>
						</div>
						<div class="filter-section-more">
							<a href="" class="button-filter-more button-arrow js-btn-tgl">
								<div class="button-title" data-show="Показать все" data-hide="Скрыть"></div>
							</a>
						</div>
					</div>
				</div>
				<!--/filter-section-wrap-->
			</div>
			<!-- /col -->
			<!-- col -->
			<div class="filter-column-wrap">
				<!--filter-section-wrap-->
				<div class="filter-section-wrap">
					<div class="filter-section-title">Форма выпуска</div>
					<div class="filter-section-content">
						<div class="filter-section-inner">
							<div class="frm-select">
								<input type="checkbox" id="filterform02">
								<label for="filterform02">Капсулы</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterform03">
								<label for="filterform03">Порошок</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterform04">
								<label for="filterform04">Ягоды</label>
							</div>
						</div>
						<div class="filter-section-more">
							<a href="" class="button-filter-more button-arrow js-btn-tgl">
								<div class="button-title" data-show="Показать все" data-hide="Скрыть"></div>
							</a>
						</div>
					</div>
				</div>
				<!--/filter-section-wrap-->
				<!--filter-section-wrap-->
				<div class="filter-section-wrap">
					<div class="filter-section-title">Вес, грамм</div>
					<div class="filter-section-content">
						<div class="filter-section-inner">
							<div class="frm-select">
								<input type="checkbox" id="filterweight02">
								<label for="filterweight02">100 г</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterweight03">
								<label for="filterweight03">150 - 250 грамм</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="filterweight04">
								<label for="filterweight04">300 - 500 грамм</label>
							</div>
						</div>
						<div class="filter-section-more">
							<a href="" class="button-filter-more button-arrow js-btn-tgl">
								<div class="button-title" data-show="Показать все" data-hide="Скрыть"></div>
							</a>
						</div>
					</div>
				</div>
				<!--/filter-section-wrap-->
			</div>
			<!-- /col -->
		</div>
	</div>
	<div class="filter-actions-wrap">
		<div class="frm-row">
			<div class="frm-field">
				<button type="reset" class="btn button-white js-filter-reset">
					<div class="button-title">Очистить</div>
				</button>
			</div>
			<div class="frm-field">
				<a href="" class="btn js-filter-apply">
					<div class="button-title">Применить</div>
				</a>
			</div>
		</div>
	</div>
</form>
<!--/filter-box-->