
<!--footer-form-box-->
<div class="footer-form-box cnt-section">
	<div class="inner-wrap">
		<div class="box-inner-wrap">
			<div class="photo-inner-wrap">
				<div class="elm-photo">
					<img src="./img/main/footer.png" alt="">
				</div>
			</div>
			<div class="title-inner-wrap">
				<div class="elm-sticker bg-red">10%</div>
				<div class="section-title">Получи 10% скидки на первую покупку после регистрации</div>
			</div>
			<form action="/" class="form-inner-wrap">
				<div class="frm-row">
					<div class="frm-field">
						<input type="email" class="form-input" placeholder="Ваш e-mail">
					</div>
					<div class="frm-field">
						<button type="submit" class="btn">
							<div class="button-title">Регистрация</div>
						</button>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-info">Al hacer clic en" Suscribirse", usted acepta el procesamiento de datos personales. Más información en la política de privacidad.</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--/footer-form-box-->

<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<!--footer-main-panel-->
		<div class="footer-main-panel">
			<div class="info-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo.svg" alt="">
					</a>
				</div>
				<div class="contacts-wrap">
					<div class="cnt-title">Контакты поддержки:</div>
					<div class="cnt-phone">
						<a href="tel:850677451030">+506 7745 1030</a>
					</div>
					<div class="cnt-email">
						<a href="mailto:support@longavida.com">support@longavida.com</a>
					</div>
					<div class="cnt-action">
						<a href="" class="btn">
							<div class="button-title">Связаться</div>
						</a>
					</div>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<ul class="menu menu-main">
					<li>
						<a href="" class="btn-menu js-btn-tgl">
							<div class="button-title">Магазин</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Витамины</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Добавки</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Травы</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Минералы</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Все категории</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Все бренды</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu js-btn-tgl">
							<div class="button-title">Популярное</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Eye Support</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Digestive Health</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Women's Health</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Immune Support</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Bone Health</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Brain Health</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Men's Health</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Soporte diario</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Heart Health</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Energy sources</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu js-btn-tgl">
							<div class="button-title">Покупателям</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Консультация</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Бонусная программа</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Справочник</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Блог</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Центр помощи</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu js-btn-tgl">
							<div class="button-title">О компании</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">О нас</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Связаться с нами</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Privacy Policy</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Terms Of Use</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-submenu">
									<div class="button-title">Website Cookies</div>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!--/footer-main-panel-->
		<!--footer-bottom-panel-->
		<div class="footer-bottom-panel">
			<div class="actions-wrap">
				<div class="action-title">Follow Us</div>
				<div class="action-buttons">
					<a href="" class="btn button-white">
						<div class="button-ico">
							<img src="./img/icons/soc01.svg" alt="">
						</div>
					</a>
					<a href="" class="btn button-white">
						<div class="button-ico">
							<img src="./img/icons/soc02.svg" alt="">
						</div>
					</a>
					<a href="" class="btn button-white">
						<div class="button-ico">
							<img src="./img/icons/soc03.svg" alt="">
						</div>
					</a>
					<a href="" class="btn button-white">
						<div class="button-ico">
							<img src="./img/icons/soc04.svg" alt="">
						</div>
					</a>
				</div>
			</div>
			<div class="copy-wrap">
				<p>© 2025 Longa Vida, All Rights Reserved</p>
			</div>
		</div>
		<!--/footer-bottom-panel-->
	</div>
</footer>
<!-- /footer -->