<!--popup-outer-box-->
<div class="popup-outer-box popup-mobile" id="popup-query">
	<div class="popup-box">
		<a href="" class="btn button-light btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Задайте ваш вопрос о&nbsp;товаре</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-textarea">
							<textarea class="form-input" placeholder="" maxlength="1000" data-counter-warning="90"></textarea>
							<div class="field-textarea-counter" data-title="Введено символов"></div>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">Отправить</div>
						</button>
					</div>
					<div class="frm-field field-info">Al hacer clic en" Suscribirse", usted acepta el procesamiento de datos personales. Más información en la política de privacidad</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->