<!--side-menu-box-->
	<div class="side-menu-box">
		<ul class="menu">
			<li>
				<a href="" class="btn-menu js-btn-tgl">
					<div class="button-title">Каталог</div>
				</a>
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Авена</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Амла</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Арника Монтана </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Артемизинин</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Арника</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Артемизия (полынь)</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Артишок</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Астрагал</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Белладонна</div>
						</a>
					</li>
				</ul>
				<div class="menu-more-wrap">
					<a href="" class="btn button-vlight button-menu-more js-btn-tgl">
						<div class="button-title" data-show="Показать все" data-hide="Скрыть"></div>
					</a>
				</div>
			</li>
			<li>
				<a href="" class="btn-menu js-btn-tgl active">
					<div class="button-title">Herbs</div>
				</a>
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Авена</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Амла</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Арника Монтана </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Артемизинин </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Артемизия (полынь) </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Артишок</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Астрагал</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Белладонна</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Белокопытник</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu active">
							<div class="button-title">Берберин (барбарис) </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Босвеллия </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Боярышник</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Бузина</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Валериана</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Витекс</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Володушка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Вяз красный</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Галлат</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гарпагофитум</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гвоздика</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гибискус</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гинкго Билоба</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Горечавка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Горянка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гуаран</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Авена</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Амла</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Астрагал</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Белладонна</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Белокопытник</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Боярышник</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Бузина</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Валериана</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Витекс</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Володушка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Вяз красный</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Галлат</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гарпагофитум</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гвоздика</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гибискус</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гинкго Билоба</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Горечавка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Горянка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гуаран</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Авена</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Амла</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Астрагал</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Белладонна</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Белокопытник</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Боярышник</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Бузина</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Валериана</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Витекс</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Володушка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Вяз красный</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Галлат</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гарпагофитум</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гвоздика</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гибискус</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гинкго Билоба</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Горечавка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Горянка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Гуаран</div>
						</a>
					</li>
				</ul>
				<div class="menu-more-wrap">
					<a href="" class="btn button-vlight button-menu-more js-btn-tgl">
						<div class="button-title" data-show="Показать все" data-hide="Скрыть"></div>
					</a>
				</div>
			</li>
		</ul>
	</div>
	<!--/side-menu-box-->